*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(12, 12, 12);
    width: 1200px;
    margin: auto;
}

main{
    height: 90vh;
    text-align: center;
}

img{
    position: relative;
    margin-top: 100px;
    width: 300px;
}

a{
    color: rgb(233, 233, 233);
    text-decoration: none;
    transition: 1s ease-in-out;
}

a:hover{
    color: red;

}


img:hover{
    width: 400px;
    transition: 0.3s ease-in-out;
}
img:not(:hover){
    transition: 0.3s ease-in-out;
}


footer{ 
}

h2{
    color: rgb(233, 233, 233);
    text-align: right;
}